[Desktop Entry]
Comment=GXDE Top Panel
Exec=/usr/bin/gxde-top-panel
Hidden=true
Name=GXDE-Top-Panel
NoDisplay=true
Type=Application
X-GNOME-Autostart-enabled=true
